---
import Layout from "@/layout/Layout.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
	<main>
		<h1>工作人員 - 列表</h1>
	</main>
	<Footer />
</Layout>

<style>
	main {
		min-height: 100vh;
		padding: 5rem 2rem 2rem;
	}
</style>
