---
import Layout from "@/layout/Layout.astro";
import Footer from "@/components/Footer.astro";
import { useTranslations } from "@/utils/i18n";

const lang = Astro.props.lang ?? "zh";
const t = useTranslations(lang).agenda;
---

<Layout title={lang === "en" ? "Agenda - SITCON 2026" : "議程表 - SITCON 2026"} lang={lang}>
	<main>
		<h1>{t.title}</h1>
	</main>
	<Footer />
</Layout>

<style>
	main {
		min-height: 100vh;
		padding: 5rem 2rem 2rem;
	}
</style>
