---
import Layout from "@/layout/Layout.astro";
import Footer from "@/components/Footer.astro";
import Speaker from "@/components/index/Speaker.astro";
import DemoShow from "@/components/index/DemoShow.astro";
import GetTicket from "@/components/index/GetTicket.astro";
import JoinUs from "@/components/index/JoinUs.astro";
import Discuss from "@/components/index/Discuss.astro";
import Coc from "@/components/index/Coc.astro";
---

<Layout>
	<main>
		<h1>SITCON 2026</h1>
	</main>
	<Speaker />
	<DemoShow />
	<GetTicket />
	<JoinUs />
	<Discuss />
	<Coc />
	<Footer />
</Layout>

<style>
	main {
		/* min-height: 100vh; */
		padding: 5rem 2rem 2rem;
	}
	h1 {
		margin-top: 5rem;
		/* height: 500vh; */
	}
</style>
