<footer>
	<div class="social">
		<a href="">FACEBOOK</a>
		<a href="">X</a>
		<a href="">YOUTUBE</a>
		<a href="">INSTAGRAM</a>
		<a href="">FLICKR</a>
		<a href="">TELEGRAM</a>
	</div>
</footer>

<style>
	footer {
		background-color: #ffd172;
		color: #000;
		height: 300px;
	}
	.social {
		background-color: #f1b12e;
		padding: 1rem 2rem;
		display: flex;
		justify-content: space-between;
		font-family: "JetBrainsMono", monospace;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
</style>
