---
import Avatar from "./Avatar.astro";
const { name, position, image } = Astro.props;
---

<div id="person">
	<Avatar image={image} alt_text={name} />
	<div id="text-group">
		<p id="name">{name}</p>
		<p id="position">{position}</p>
	</div>
</div>

<style>
	#person {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		max-width: 20rem;
		margin: 2rem 1.5rem;
	}


	#text-group {
		width: 10rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-weight: 700;
		line-height: 1.5;
	}
</style>
