---

---

<section>
	<div class="content">
		<h1>行為準則</h1>
		<div class="content-coc">
			<p>SITCON 非常歡迎所有年齡、身分、背景的與會者！</p>
			<p>為了讓大家都能愉快的參加 SITCON，<br /> 請所有參與者遵循行為準則共創一個友善的環境。</p>
		</div>
	</div>
	<!-- <button class="btn-coc"></button> -->
</section>

<style>
	section {
		background-color: #1b1000;
	}
	.content {
		max-width: 110rem;
		width: 90%;
		height: 15rem;
		display: flex;
		justify-content: center;

		align-items: center;

		color: #fce6c5;
		gap: 3rem;
	}

	.content h1 {
		font-size: 5rem;
		font-weight: 700;
		margin: 0;
		line-height: 1;
	}

	.content-coc {
		font-weight: 700;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}

	.content-coc p {
		margin: 0;
		line-height: 1.5;
	}
</style>
