---

---

<section>
	<div class="title">
		<h1>加入我們</h1>
		<h1>引領未來</h1>
	</div>
	<div class="content-container">
		<div class="content-text">
			<p>
				自 2013 年以來，SITCON 始終秉持著「不向與會者收費」的初心，<br />致力於推廣學生資訊教育。我們鼓勵參與者跳脫思想框架、發掘潛在的可能性，<br
				/> 並為學子們提供寶貴的學習與交流機會，陪伴無數學生踏入資訊領域的殿堂。
			</p>
		</div>
		<div class="content-list">
			<p>&gt; 累積逾 14,000 名與會者</p>
			<p>&gt; 超過 500 位學生講者</p>
			<p>&gt; 舉辦逾 500 場聚會和講座、10 場夏令營</p>
			<p>&gt; 扶植近 1,400 名熱愛資訊的志工</p>
		</div>
		<div class="content-btn">
			<a>贊助徵求書</a>
			<a>個人贊助</a>
		</div>
	</div>
</section>

<style>
	section {
		background-color: white;
	}
	.title {
		font-size: 3rem;
		display: flex;
		justify-content: space-between;
		max-width: 100rem;
		margin: 0 auto;
		padding-top: 5rem;
		width: 90%;
		font-weight: 700;
	}

	.title h1 {
		color: #828282;
	}
	.title h1:nth-of-type(2) {
		color: #595959;
	}

	.content-container {
		width: 75rem;
		/* background-color: gray; */
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	.content-text {
		text-align: center;
		color: black;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 5rem 10rem auto;
	}

	.content-list {
		color: black;
		font-weight: bold;
		margin: 5rem 12rem;
	}
	.content-btn {
		display: flex;
		justify-content: center;
		gap: 2rem;
		margin-bottom: 5rem;
	}
	.content-btn a {
		width: 15rem;
		height: 4.5rem;
		border-radius: 62.5rem;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		font-weight: bold;
		color: #595959;
		background:
			linear-gradient(124deg, rgba(133, 138, 146, 0) -3.36%, rgba(133, 138, 146, 0.5) 31.33%, rgba(133, 138, 146, 0.75) 69.49%, rgba(133, 138, 146, 0.88) 96.26%, #858a92 98.2%),
			radial-gradient(390.63% 225.3% at 8.72% -121.17%, #fff 0%, rgba(255, 255, 255, 0) 100%);
		border: 1px solid #595959;
	}
</style>
